
@{
    ViewBag.Title = "Mexica Tours";
}

<div class="row">
    <div  align="center">
        <h2>Bienvenido</h2>
        <form id="formLogIn" method="post" class="form-horizontal">
            <div class="form-group">
                <input class="form-control" id="txtEmail" name="email" type="email" placeholder="E-mail" required />
            </div>
            <div class="form-group">
                <input class="form-control" id="txtPassword" name="password" type="password" placeholder="Contraseña" required />
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Entrar" name="registrar" required />
            </div>
        </form>
    </div>
</div>


